.cards {
    display: flex;
    justify-content: center;
    
}
.card-container {
    outline: 2px solid black;
    margin: 2vh;
    
    
}

.card-contents {
display:flex;
flex-wrap: wrap;
padding: 1vh;

}